@font-face {
  font-family: 'Vazir';
  src: url('../assets/fonts/Vazir/Vazir.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Vazir/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Vazir/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/Vazir/Vazir.ttf') format('truetype'), /* Safari, Android, iOS */
}
